{% extends 'accounts/main.html' %}


{% block content %}
{% include 'accounts/navbar.html' %}

<section class="container">
    <div class="py-5">
        <div class="col my-5">
            <div class="">
                <div class="pb-3">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#exampleModal"><i class="fa fa-bookmark"></i>&nbsp;
                        New Bookmark</button>
                </div>
                <div class="card card-body">

                    <table class="table table-hover" id="bookmarks" class="display">
                        <thead>
                            <tr>
                                <th scope="col">URL</th>
                                <th scope="col">Tags</th>
                                <th scope="col">Screenshot</th>
                                <th scope="col">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <a href="https://www.google.com" target="_blank">www.google.com</a>
                                </th>
                                <td>
                                    <span class="badge badge-primary">Search</span>
                                    <span class="badge badge-primary">Google</span>
                                    <span class="badge badge-primary">Website</span>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</button>
                                </td>

                            </tr>
                            <tr>
                                <th><a href="https://www.stackoverflow.com" target="_blank">www.stackoverflow.com</a>
                                </th>
                                <td>
                                    <span class="badge badge-primary">Programming</span>
                                    <span class="badge badge-primary">Stackoverflow</span>
                                    <span class="badge badge-primary">Website</span>
                                </td>
                                <td></td>
                                <td>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

{% include 'accounts/modalForm.html' %}
{% include 'accounts/footer.html' %}
{% endblock %}